* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #6b6c5c;
    margin-left: 2%;
    margin-top: 1%;
    margin-right: 2%;
    margin-bottom: 1%;
}

p {
    color: black;
    font-family: "Times New Roman", Times, serif;
    line-height: 1.1;
    font-weight: normal;
    font-stretch: normal;
    font-variant: normal;
    font-size: 16px;
}

h1 {
    font-family: scriptina;
    text-shadow: 0.5px 0.5px 0.5px white;
}

img {
    display: block;
    width: 100%;
}

@font-face {
    font-family: scriptina;
    src: url(../fonts/SCRIPTIN.ttf);
}
